body {
    background-color: var(--light-color--);
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: var(--dark-color--);
}

.grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    grid-template-areas: "title title title"
                        "amount amount amount"
                        "panel panel panel"
                        "panel panel panel";
}
.title {
    grid-area: title;
}
.amount-row {
    display: grid;
    grid-area: amount;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c";
}
.block-1 {
    grid-area: a;
    display: grid;
    justify-content: center;
}
.block-2 {
    grid-area: b;
    display: grid;
    justify-content: center;
}
.block-3 {
    grid-area: c;
    display: grid;
    justify-content: center;
}

.panel-row {
    display: grid;
    grid-area: panel;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:"a1 . a3"
                        "a1 a2 a3" 
                        "a1 a2 a3";
}
.panel-row.panel.a1 {
    grid-area: a1;
}
.panel-row.panel.a2 {
    grid-area: a2;
}
.panel-row.panel.a3 {
    grid-area: a3;
}
div.panel {
    display: inline-block;
    vertical-align: top;
    padding: 2rem;
}
div.panel img {
    height: 3.5rem;
    width: auto;
    display: block;
    margin: 1rem auto ;
}
div.panel h2 {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: var(--light-color--);
}
h2.num {
    font-size: 3.1rem;
    color: #1d1d1d;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
div.panel p, p {
    letter-spacing: 2px;
    font-size: 1rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}
.bg1 {
 padding: 1.5rem 1rem;
 background-color: var(--blue-color--);
}
.bg-2 {
    padding: 1.5rem 1rem;
    background-color: rgb(231, 31, 31);
   }
.bg-3 {
padding: 1.5rem 1rem;
background-color: rgb(23, 173, 23);
}

:root {
    --light-color--: #fff;
    --dark-color--: #000;
    --blue-color--: #4646e7;
}

/**Footer**/
footer {
    background-color: var(--blue-color--);
    width: 100%;
    height: 5rem;
    color: var(--light-color--);
}
footer ul {
    float: right;
    list-style-type: none;
    display: inline;
    color: var(--light-color--);
    margin-right: 2rem;
}
footer ul li {
    display: inline-block;
    padding: 1rem;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: sans-serif;
}
footer ul li a {
    text-decoration: none;
    color: var(--light-color--);
    transition: all .3s ease-in-out;
}
footer ul li a:hover {
    text-decoration: underline;
    color: rgb(173, 171, 171);
}

footer div {
    float: left;
    display: block;
}

footer div p {
    color: var(--light-color--);
    font-family: 'Raleway', sans-serif;
    margin: 2rem;
}
sub {
    vertical-align: middle;
    font-size: .7rem;
    letter-spacing: 1px;
}
/**media Query**/
@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 601px) {
   
}

@media only screen and (min-width: 1024px) {
   
    
}
@media only screen and (min-width: 1440px) {
    
}